body {
    font-family: 'Muli', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 3px;
    background-color: rgb(210, 205, 161);
    border: 1px solid black;
  }


/* Main Container */
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid green; */
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 10px 10px rgb(61, 240, 61);
}


/* Image item container */
.item{
    display: flex;
    justify-content: center;
    align-items:end;
    height: 150px; 
    width: 100px;
    margin: 5px;
    /* border: 2px solid red; */
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(22, 23, 22);
    position: relative;
    transition:all 0.5s ease-in;

    /* background Image  */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.item:hover{
    width: 300px;
    border-radius: 10px;
}

.img-text{
    margin: 3px;
}